.flex-container {
    color: blue;
    display: flex;
    border: 2px dashed grey;
    height: 40vh;
    padding: 10px;
    /*flex-direction: row-reverse;  column, column-reverse, row-reverse, row*/
    justify-content: flex-start; /*flex-end,center,flex-start, space-evenly, space-between,space-around*/
    align-items: center; /*flex-end, flex-start, center, baseline (provides vertical alignment)*/
    flex-wrap: wrap; /*wrap-reverse*/
    /*flex-flow: column wrap;*/
}
.flex-item {
    background-color: pink;
    color: blue;
    border: 2px solid blue;
    padding: 8px;
    margin: 10px;
    width: 100px;
    height: 100px;
}
.item1 {
    order: 1;
    align-self: left;
    /*flex-grow: 2;*/
}
.item4 {
    order: 2;
    flex-shrink: 2;
}
